always-auth=true
//nexus.vzhyx.digital/repository/npm-available/:_authToken=base64
//nexus.vzhyx.digital/repository/npm-all/:_authToken=base64
registry=https://nexus.vzhyx.digital/repository/npm-all/
//nexus.vzhyx.digital/repository/:_authToken=base64
